@import url(https://fonts.googleapis.com/css2?family=Prosto+One&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@100;200;300;400;500;600;700&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.wix {
  background-color: #fff;
}
a {
  text-decoration: none;
}

header .containerr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px;
  margin-top: 10px;
}
.header-left {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-right: 200px;
}
.header-right {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
.header-p {
  margin: 0 24px;
  font-size: 14px;
}
.logo {
  background-image: url(./images/logo.svg);
  height: 24px;
  width: 66px;
  background-repeat: no-repeat;
}

.icon-pc {
  background-position: initial;
  background-size: cover;
  background-repeat: no-repeat;
}
.pc-phone {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
.btn-pc {
  background-image: url(./images/pc.svg);
  border: none;
  cursor: pointer;
  height: 24px;
  width: 26px;
  background-repeat: no-repeat;
  margin-right: 20px;
}

.btn-phone {
  background-image: url(./images/phone.svg);
  border: none;
  cursor: pointer;
  height: 28px;
  width: 17px;
  border: none;
  background-repeat: no-repeat;
  margin-left: 20px;
}
.tayoqcha {
  border-bottom: none;
  border-left: none;
  border-top: none;
  background-color: #20303c;
  height: 25px;
  margin: 0 15px;
  opacity: 0.5;
  width: 1px;
}

.btn-nav {
  background: #116dff;
  border: none;
  border-radius: 21px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 42px;
  line-height: 42px;
  margin: 0 40px;
  margin-right: 0;
  padding: 0 27px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  margin: 0 80px 0 80px;
  border-bottom: 2px solid #fff;
}

.author a {
  font-size: 24px;
  color: white;
  font-family: "Cormorant Infant", serif;
}

.author a:hover {
  color: coral;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

li a {
  color: white;
  margin-left: 20px;
}
li a:last-child {
  margin-right: 20px;
}
li a:hover {
  color: coral;
}

.mainSection {
  height: 140vh;
  background-image: url("./Download.png");
  background-color: black;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainSection img {
  object-fit: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.mainSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.mainTop {
  height: 40vh;
  position: relative;
}

.mainText {
  display: flex;
  justify-content: flex-end;

  height: 100%;
  background-color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.mainText h1 {
  margin-bottom: 20px;
  margin-right: 300px;
  font-size: 85px;
  color: #fe805d;
  font-family: "Cormorant Infant", serif;
}

.mainText div {
  padding: 50px 200px;
  font-size: 24px;
}

.authorImg {
  position: absolute;
  left: 500px;
  top: -160px;
}

.book {
  position: absolute;
  width: 70%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.418);

  display: grid;
  grid-template-columns: 11fr 9fr;
}

.bookRight {
  background-color: green;
  margin: 20px;
  background-image: url("https://static.wixstatic.com/media/ad420a_ac6bbfd46dbe4c83a234221d29d67791~mv2.png/v1/fill/w_385,h_543,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Screen%20Shot%202021-02-07%20at%209_24_47.png");
  background-size: cover;
  background-position: center;
}

.bookLeft {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.largeText {
  font-size: 48px;
}

.bookLeftTop {
  padding: 80px 140px 20px 40px;
}

.bookText {
  margin-top: 20px;
  margin-bottom: 20px;
}

.bookBtn {
  background-color: initial;
  color: coral;
  font-size: 16px;
  border: 1px solid coral;
  border-radius: 20px;
  width: 160px;
  height: 40px;
  margin-right: 20px;
}

.bookLeftBottom {
  margin-top: 40px;
  padding-left: 40px;
}

.articel {
  padding-left: 80px;
  padding-right: 80px;
  width: 100%;
  height: 100vh;
  background-color: rgb(13, 13, 27);
  display: flex;
  text-align: center;
  gap: 40px;
}

.articel div {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.articelSign {
  font-size: 128px;
  color: coral;
}

.articelMain {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.articelBottom {
  color: coral;
}

.line {
  background-color: #fff;
  height: 1px;
  width: 120px;
}

.info {
  background-color: black;
  padding-top: 80px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.infoTop {
  text-align: center;
}

.infoTop h2 {
  font-size: 40px;
  color: coral;
}

.infoTop p {
  margin-top: 40px;
  color: white;
  font-size: 18px;
  margin-bottom: 80px;
}

.boxContainer {
  width: 80%;
  margin: auto;
}

.box {
  margin-bottom: 40px;
  width: 100%;
  height: 320px;
  border: 2px solid white;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.boxLast {
  margin-bottom: 200px;
}

.box p {
  margin-top: 80px;
  margin-bottom: 60px;
  font-size: 24px;
  color: white;
}

.last {
  width: 90%;
  margin: auto;
  height: 100vh;
  background-color: rgb(13, 13, 27);
  padding-top: 150px;
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.last svg {
  position: absolute;
  top: 0;
  right: 400px;
  width: 60px;
  height: auto;
}
.last h2 {
  color: coral;
  font-size: 48px;
}

.last p {
  font-size: 20px;
  margin-top: 80px;
  color: white;
  margin-bottom: 80px;
}

.image-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.image-container img {
  position: relative;
  width: 100%;
  transform: translateY(-50%);
  border-radius: 50%;
}

footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: coral;
}

footer div {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 10px;
}

footer a {
  color: black;
}
